@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Quicksand:wght@400;600;700&family=Shadows+Into+Light&display=swap');


* {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 5px 6px #77c2cf;
  padding: 0 15px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

navbar{
  width: 100%;
  min-height: 100px;  
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: #77c2cf;
  z-index: 1;
}

a{
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  color: #464646;
}

li{
  list-style: none;
}

navbar ul{
  display: flex;
  padding: 0;
  margin: 0;
}

navbar ul li{
  padding: 0 1rem;
}

navbar ul li a{
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

navbar .cart{
  position: relative;
  cursor: pointer;
}
navbar .cart box-icon{
  width: 45px;
  height: 45px;
}

navbar .cart span{
  padding-right: 20px;
  position:absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color:rgb(175, 57, 92);
}
.username{
  font-weight: bold;
  color: white;
  font-size: 1.6rem;
  font-family: 'Quicksand';

}
.logOut-btn{
  background-color:#77c2cf
  ;
  color:white;
  width: 150px;
  height:40px;
  border:0;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
.logOut-btn:hover{
  background-color:#3d7983 ;
  color:white;
  cursor: pointer;
}

/*----------LOGIN-------*/
.login-general{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 800px;
}
.login-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}

  
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title-login{
  font-size: 2rem;
  padding: 0 0 2rem 0;
  color:#77c2cf;
  font-family:'Shadows Into Light';
  font-size: 3rem;
}
.logo-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 7rem 0 0;
}

.form-control{
    margin-top: 0.5rem;
    margin-block-end: 2rem;
    width: 300px;
    height: 50px;
    color:rgba(54, 54, 54, 0.596);
    box-shadow: rgba (100, 100, 111, 0.2) 0px 7px 29px 0px;
    border:solid;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 0 0 1rem;
    
}
.login-form label {
  margin-bottom: 10px;
  display: block;
  color: #292929;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
.login-form ::placeholder{
  color: #6f7070;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
}

.login-btn{
  background-color:#77c2cf ;
  color:white;
  width: 300px;
  height:40px;
  border:0;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}
.login-btn2{
  background-color: #ffffff;
  color:rgb(144, 185, 109);
  width: 300px;
  height:40px;
  border: 0;
  border-color: rgb(144, 185, 109);
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.7rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}
.login-btn3{
  display:flex;
  background-color:#fff ;
  color:#7a7a7a;
  width: 300px;
  height:40px;
  border:0;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.7rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  align-items: center;
  justify-content: space-around;
  
}
.image-google{
  display:flex;
  margin-top: 0.3rem;
  width: 25px;
  height: 25px;
  margin-left: 2px;
  align-items: center;
}

.login-btn:hover{
  text-decoration: none;
  text-transform: uppercase;
}
.login-btn2:hover{
  background-color: rgb(144, 185, 109);
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
}
.login-btn3:hover{
  text-decoration: none;
  color:#fff;
  background-color:#4285F4;
}
.inicio{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}
.inicio h1{
  font-size: 2rem;
  color:#77c2cf;
  justify-content: center;
  align-items: center;
}
.inicio img{
  width: 60%;
  height: 300px;
  justify-content: center;
  align-items: center;
}

/*-------Productos----------*/
.title{
  font-size: 2rem;
  padding: 10rem 0 0 2rem;
  color:#77c2cf;
  font-family:'Shadows Into Light';
  font-size: 3rem;
}
.productos{
  padding: 5rem 1rem;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}

.producto{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
}

.producto:hover{
  border: 6px solid #77c2cf;
}
.producto_img img{
  width: 310px;
}
.producto_footer{
  padding:1rem;
}
.producto_footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color:black;
  font-family: Helvetica, sans-serif;
}
.producto_footer p{
  font-weight: 700;
  color: rgba(0,0,0 .555);
  text-transform: uppercase;
  font-size: 18px;
}
.producto_footer .price{
  font-size: 2rem;
  color: #1a202c;
}
.producto .button{
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 3rem;
  padding: 0 1rem;
  margin:1rem;
}
.button .btn{
  border:none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}
.button button{
  background-color: #77c2cf;
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color:white;
  font-weight: 600;
}
.button div{
  background-color: rgb(144, 185, 109);
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}
.button div a{
  color:white;
  font-weight: 700;
}
.button div a:hover{
  color: white;
}
/*-------------Carrito--------*/
.carritos{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2; /*superponer sobre otro elemento*/
  padding-bottom: 5rem;
  visibility: hidden;
}
.carrito{
  position:fixed;
  top:50%;
  left: 50%;;
  transform: translate(-50%,-50%) escale(1);
  width: 60%;
  height: 80%;
  border-radius: 8px;
  overflow-x:scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden;
}
.carrito h2{
  text-align: center;
  font-size: 2.5rem;
  color:rgb(144, 185, 109);
  font-family:'Shadows Into Light';
}
.carrito h1{
  text-align: center;
  font-size: 2.8rem;
  color:black;
  font-family:'Quicksand';
  padding: 2.5rem 0 2rem 0;
}
.carritos.show{
  visibility: visible;
}
.carrito.show{
  transform: translate(-50%,-50%) scale(1.1);
  opacity: 1;
  visibility: visible;
}
.carrito_close box-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 2rem 0 0 2rem;
}
.carrito_close box-icon:hover{
  fill:#e26546;
}
.carrito_center{
  width: 90%;
  margin: 0 auto;
}
.carrito_item{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px rgb(144, 185, 109);
  border-radius: 5px;
}
.carrito_item img{
  width: 9rem;
}
.infoProducto{
  padding: 0 0 0 1.2rem;
}
.carrito_item h3{
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}
.carrito_item .price{
  color:#1a202c;
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  margin-left: -1rem;
  padding: 0 0 0 1.2rem;

}
.carrito_item box-icon{
  fill:rgb(144, 185, 109);
  width: 40px;
  height: 40px;
  margin-top: .3rem;
  cursor: pointer;
  padding: 0 0 0 1rem;
}
.carrito_item box-icon:hover{
  fill:rgba(101, 208, 8, 0.663);
}
.carrito_item .cantidad{
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 0 1rem;
}
.carrito_item .remove_item box-icon{
  width: 60px;
  height: 80px;
  fill:#e26546;
  margin-top: 2rem;
}
.carrito_item .remove_item box-icon:hover{
  fill:#a70000;
}
.carrito_footer{
  text-align: center;
  margin-bottom: 3rem;
}
.carrito_footer h3{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.carrito_footer .btn-pago{
  margin-top: 2rem;
  display: inline-block;
  padding: .6rem 1rem;
  font-size: 1.2rem;
  background-color: rgb(144, 185, 109);
  border:0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
.carrito_footer .btn-pago:hover{
  background-color: #77c2cf;
  color: #fff;
}
/*----------Catalogo Productos-----*/
.detalles{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  padding: 12rem 1rem 0 1rem;
  box-sizing: border-box;
}
.detalles h2{
  font-size: 2.5rem;
  font-family: 'Poppins';
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 5rem;
}
.detalles h3{
  font-size: 0.7rem;
  font-family: 'Poppins';
  width: 100%;
  max-width: 1000px;
  margin:10px auto;
  align-items: center;
  justify-content: center;
}
.detalles .price{
  font-size: 3rem;
  width: 100%;
  color:black;
  font-weight: 700;
  padding: 0 0 0 5rem;
}
.detalles .precio_tamaño{
  display: flex;
  flex-direction: row;
  background-color: #daecec;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}
.detalles .reservar{
  display: flex;
  flex-direction: column;
  
}
.detalles button.btn{
  max-width: 300px;
  margin:  0 0 0 2rem;
  padding: 0.6rem 1rem;
  border: none;
  outline: 0;
  background-color: #77c2cf;
  font-size: 1.6rem;
  color:#fff;
  font-family: 'Poppins';
  font-weight: 600;
  border-radius: 8px;
  cursor:pointer;
}
.detalles button{
  background-color: #77c2cf;
}
.detalles .calendario{
  width: 300px;
  height: 270px;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 5rem;
}
.carousel-container {
  margin: 20px 0;
  
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1100px; /* Ajusta el alto máximo para evitar que las imágenes sean demasiado grandes */
}

.image-container img {
  padding-left: 10rem;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain; /* Ajusta la imagen manteniendo su relación de aspecto */
}



.detalles img{
  display: flex;
  min-height: 300px;
  object-fit: contain;
  margin-top:-1rem;
  z-index:-1;
  width: 60%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detalles .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
  max-width: 350px;
}
.detalles .grid > .nuevo, .size, .stock{
  padding: 1rem 1rem;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 600;
  color:rgb(22, 21, 21);

}
.detalles .grid .size select{
  border: none;
  outline: 0;
  font-size: 2rem;
  cursor:pointer;
  background-color: #daecec;
  width: 50px;
}
.detalles input{
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2rem;
}
.detalles .description{
  font-size: 1.1rem;
  max-width: 1300px;
  width: 100%;
  letter-spacing: 1px;
  color:#292929;
  margin: 0 auto;
  font-weight: 500;
  padding: 0 0 10rem 0;
}
.detalles .description b{
  font-size: 1.4rem;
  color: black;
}

.slider-container {
  width: 1200px; /* Ancho de 1200px */
  max-width: 100%; /* Asegura que no supere el ancho máximo de 2300px */
  margin: 0 auto ; /* Centrar horizontalmente */
  margin-bottom: 20px;
}
.slider-image {
  align-items: center;
  width: 100%; /* Ajusta el tamaño de las imágenes para que ocupen todo el ancho del slider */
  height: 100%; /* Ajusta el tamaño de las imágenes para que ocupen todo el alto del slider */
  object-fit: cover; /* Hace que la imagen ocupe todo el espacio disponible del contenedor, recortando si es necesario */
}

/****formulario de reserva******/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  max-height: 800px;
  width: 80%;
}
.modal h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #77c2cf;
}
.modal form {
  display: flex;
  flex-direction: column;
}
.modal label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #555;
}
.modal input {
  height: 32px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}
.modal button {
  background-color:#77c2cf;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.modal button:hover {
  background-color: #0056b3;
}
/**pedidos by user*/
.pedidos-container {
  width: 1200px; /* Tamaño de 1500px */
  max-width: 100%; /* Asegura que no supere el ancho máximo de la pantalla */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Para ocupar todo el alto de la pantalla */
  background-color: #e0f9f9; /* O el color de fondo que desees */
}

/* Estilos adicionales para los detalles del pedido, si es necesario */
.pedidos-container ul {
  list-style: none;
  padding: 0;
}

.pedidos-container li {
  margin-bottom: 10px;
}

/*-----------------------ADMIN-------------*/
.admin-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.add-costume {
  width: 300px;
  text-align: center; /* Centra los elementos horizontalmente */
  background-color: #daecec;
  border: 1px solid #ccc;
  margin-right: 20px; /* Espacio entre los divs */
  padding: 20px; /* Agrega espacio interno */
}

.add-button {
  margin-top: 10px; /* Agrega espacio entre la imagen y el botón */
  padding: 10px 20px;
  background-color: rgb(144, 185, 109);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color:white;
  font-weight: 600;
}

.add-costume img {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
}
.content-box img {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
}
.add-button:hover {
  background-color: #7fe268;
}

.content-box {
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color:#b8dbdb;
  border: 1px solid #ccc;
  margin-right: 20px; /* Espacio entre los divs */
  display: flex;
  align-items: center;
  justify-content: center;
}
.verPedido {
  max-width: 250px;
  margin-top: 10px;
  background-color: rgb(144, 185, 109);
  border-radius: 5px;
  width: 200px;
  display: flex;
  flex-direction: column; /* Coloca elementos uno debajo del otro */
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 12px; /* Agrega espacio interno */
  text-decoration: none; /* Quita la subrayado de enlace */
  font-size: 1.2rem;
  color:white;
  font-weight: 600;
}
.verPedido a{
  color: white;
}

.verPedido:hover {
  background-color: #7fe268/* Cambia el color de fondo al pasar el mouse */;
}
/* *************TABLA DE PEDIDOS************ */
/* Estilos generales de la tabla */
.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 10px;
}
input[type="text"] {
  margin-bottom: 10px; /* Agrega espacio entre el campo de entrada y la tabla */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px; /* Ajusta el ancho máximo según tus preferencias */
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  
}
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Estilo para la cabecera */
thead {
  background-color: #afcf5d;
  color: black;
  font-weight: bold;
}

/* Estilo para las celdas de datos */
tbody {
  font-size: 16px;
}

/* Estilo para las celdas de datos al pasar el ratón sobre ellas */
tbody tr:hover {
  background-color: #dcf0a5;
}

/* Estilo para las filas impares */
tbody tr:nth-child(odd) {
  background-color: #ebfdd7;
}

/* Estilo para las celdas de texto negras */
th, td {
  color: black;
}



/*----------VENTANA MODAL PRODUCTO NUEVO-------------*/
.modalProducto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalProducto-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.buttonPN[type="submit"],
.buttonPN[type="button"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.buttonPN[type="submit"]:hover,
.buttonPN[type="button"]:hover {
  background-color: #0056b3;
}





/*-------------media-----------*/
@media only screen and (max-width:1000px){
  .carrito_item{
    width: 92%;
  }
}
@media only screen and (max-width:700px){
  .carrito{
    width: 100%;
    height: 100%;
    padding:1rem;
  }
  .carrito_item h3{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width:600px){
  navbar ul{
    display: none;
  }
}
@media only screen and (max-width:450px){
  .carrito_item h3{
    width: .8rem;
  }
  .carrito_item .remove_item box-icon{
    width: 20px;
    height: 20px;
  }
}